    
.container{
   
    height:100vh;
    width:100%;
    color:white;
    grid-template-rows:1fr;
    /*grid-template-columns: 40% 60%;*/

  }
  @media only screen and (max-width: 1400px){
    .container-right{
      display:block !important;
    }
  }

  @media only screen and (max-width: 920px){
    .container2{
      display:block;
    }
    .container{
      display: block;
    }
    .box-data{
      font-size:12px;
    }
    .container-right{
      display: block !important;
    }
  }
  @media only screen and (max-width:500px){
    .box-data{
      font-size: 10px!important;
    }
    .small{
      font-size: 12px!important;
    }
    ul li a {
      font-size: 20px !important;
    }
  }
  .container-left{
    display: grid;
    grid-template-rows: auto;
   
    justify-content: center;
    box-shadow: -170px 134px 87px 162px #000000;   
  
    z-index: 13;
  }
  .container-right{
      display:grid;
     
      grid-template-columns:50% 50%;
    /*  background: rgb(255 255 255 / 12%);*/      
    box-shadow:-50px 0 180px 300px #000000;
}

iframe {
    width: 100%;
    height: 100vh;

}
  
.all-page-container{
  justify-content:center;
  display:block;
}
  .title{
      text-align:center;
      justify-content: center;
      align-items: center;
      
  }
  .big{
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
    color: #95531a;
    text-shadow: 4px 3px #06150b;
  }
  .small{
      font-size:20px;
  }
.box{
  padding: 32px 100px;
  font-family: 'Cinzel', serif;
    color: #f8ece1;
}
.box-data{
  font-size:16px;
  text-align: justify;
  padding:20px 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Cinzel', serif;
    color: #927c32;
}
  .logo{
    justify-content: center;
    text-align: center;

  }
  img{
      width: 70%;
      margin: 5% 0;
  }
  .information{
    width:100%;
    
    font-size: 18px;
    
}
  .nav{
    
    width:100%;

  }
  ul li a {
  color: #95781a;
  text-shadow: 4px 3px #06150b;
  font-size: 2rem;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  justify-content: space-around;
  padding:10px;
  font-family: 'Dancing Script', cursive;}
  a{
      color:rgba(238, 238, 238, 0.856);
  }
  li{
    list-style-type: none;
  }
  button{
    width:10%
  }
  .context-box{
    width:10%;
    display:flex;
    height:10vh;
    justify-content:center;
  }
  span{
    margin-top:3%;
  }
/*canvas.react-pdf__Page__canvas{
    height:auto !important;
    overflow:hidden !important;
    width: 80% !important;
}
.react-pdf__Page__textContent{
  height:auto !important;
  width:100%;
  
}
.react-pdf__Page {
  position: relative;
  display: flex;
  justify-content: center;}
  
*/