*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
  }
  html{
    background-image: url('./img/deer.jpg');
    /* Used if the image is unavailable */
    height: auto; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Repeat the image evenly */
    background-size: auto; /* Use original image size */
    opacity: 0.95;
    border:1px solid red;
  
  }